* {
  margin: 1px;
  padding: 5px;
  background-color: #e6f3fb;
}

.container2 {
  	width: 335px;
	height: 0 auto;
	margin: 0 auto;
	font-size: 25px;
}

.title-color {
	color: #e20606;
	margin-top: 20px;
}

.text_color_button {
	margin-top: 30px;
	color: #1553d8;
	font-weight: bold;
}

.style_buton {
	color: #1553d8;
	font-weight: bold;
}

.style_buton2 {
	color: #1553d8;
	font-weight: bold;
	width: 70px;
	text-align: center;
}

.container {
  	width: 700px;
	height: 0 auto;
	margin: 0 auto;
}

.border {
	border: #000000 solid 2px;
	border-top-style: solid;
	border: double;
	width: 100%;
    height: 0 auto;
}

.border-2 {
	border: #000000 solid 2px;
	border-top-style: solid;
	border: double;
	width: 100%;
    height: 0 auto;
    margin-top: 30px;
}

.textarea {
    width: 300px;
    border: #000000 solid 0.5px;
	border-top-style: solid;
	opacity: opacity: 0.6;
}

.textarea-button {
    width: 100px;
    color: #1553d8;
	font-weight: bold;
}